@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* colors */

    /* primary color */
    --red: #E50914;
    --black: #000000;
    --white: #ffffff;

    /* secondary */
    --grey-1: #BCBCBC;
    --grey-2: #999999;
    --grey-3: #757575;
    --grey-4: #303030;
    --grey-5: #222222;

    /* button */
    --hover: #F40612;

}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: var(--white);
}

.img-logo {
    width: 130px;
    padding-left: 25px;
}

body {
    font-family: 'Roboto';
    background-color: var(--black);
    color: var(--white);
}

header {
    height: 100vh;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.5) 43.75%, rgba(0, 0, 0, 0.9) 100%), url(./img/hero-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 20px;
    ;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 28px;
    padding-right: 56px;
}

.header-link {
    display: flex;
    align-items: center;
    visibility: visible;
    display: none;
}

.language-btn {
    color: var(--white);
    background-color: var(--grey-5);
    padding: 7px;
    font-size: 14px;
    border-radius: 3px;
    margin-right: 32px;
}

.signin-btn {
    background-color: var(--red);
    color: var(--white);
    padding: 7px 16px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}

.hero-section {
    display: flex;
    height: 80vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    /* border: 1px solid brown; */
}

.hero-section h1 {
    font-size: 28px;
    margin: auto;
    margin-top: 50px;
}

.first-p {
    font-size: 16px;
    margin-top: 10px;
}

.second-p {
    margin: 30px 30px;
    font-size: 17px;
    margin-bottom: 20px;
    font-weight: 100;
}
.email{
    display: flex;
    flex-direction: column;
}

.email input{
    padding: 15px;
    margin: 0 10px 15px;
}

.email button{
    margin: 0 150px;
    padding: 15px;
    font-size: 15px;
    color: var(--white);
    background-color: var(--red);
    border: none;
    border-radius: 2px;
}

section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    flex-direction: column;
}

.border-line {
    border-bottom: 9px solid var(--grey-5);
}


.value-prop-text{
    text-align: center;
}

.value-prop-text h3 {
    font-size: 29px;
    font-weight: 500;
    margin-top: 50px;
    margin-bottom: 10px;
}

.value-prop-text p {
    font-size: 16px;
    font-weight: 400;
    margin: 25px 30px;
}

.faqs{
    flex-direction: column;
}

.faqs h2 {
    font-size: 30px;
    margin-top: 70px;
}

.faqs-text p {
    background-color: var(--grey-4);
    font-size: 20px;
    margin-bottom: 10px;
    padding: 20px;
}

.faqs-text{
    width: 100%;
    margin-top: 20px;
}

.close, .add{
    float: right;
}

p .close {
    display: none;
}

.footer {
    font-size: 14px;
    color: var(--grey-2);
    margin: 0 40px;
}

.footer p{
    margin: 50px 0;
}
.footer-links{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin:30px 0 ;
}

.col{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.col a{
    margin-bottom: 15px;
    color: var(--grey-2)
}

@media screen and (min-width:600px) {
    .hero-section h1{
        font-size: 45px;
    }
    .hero-section {
        max-width: 500px;
    }

    .first-p{
        font-size: 30px;
    }
    .second-p{
        font-size: 20px;
        /* width: 800px; */
    }

    .value-prop-text{
        text-align: start;
    }
    .value-prop-text h3{
        font-size: 40px;
        margin-left:30px;
        margin-right:30px;
    }

    .value-prop-text p{
        font-size: 20px;
    }

    .faqs h2{
        font-size: 40px;
    }

    .faqs-text{
        width: 80%;
    }

    .footer-links {
        display: grid;
        grid-template-columns: auto auto auto auto;
        margin: 30px 0;
    }

    section{
        flex-direction: row;
        margin: 20px 20px;
    }

    .value-prop-img{
        width: 700px;
        /* border: 1px solid brown; */
    }

    .rotate{
        flex-direction: row-reverse;
    }

   
}

@media screen and (min-width:900px) {

    .img-logo{
        width: 200px;
        margin-left: 20px;
    }
    .hero-section h1 {
            font-size: 60px;
    }
    .email{
        flex-direction: row;
    }
    .email input {
        margin: 0;
        width: 600px;
        padding: 28px;
        font-size: 20px;
    }
    
    .email button {
        margin: 0;
        padding: 15px 0;
        width: 200px;
        font-size: 20px;
    }
    .value-prop-text h3 {
        font-size: 50px;
    }
    .value-prop-text p {
        font-size: 25px;
        width: 500px;
    }
    .header-link {
        display: flex;
    }
        
    .signin-btn,.language-btn {
        font-size: 21px;
    }
}